/node_modules
.env

echo "# chatApp" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ibrahimabdalrhman/chatApp.git
git push -u origin main